@page
@model SlaveWorkColab.WebSite.Pages.Login.Login

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="~/css/Auth/Login.css" />
</head>
<body>
<div class="login-container">
    <h2>INICIAR SESIÓN</h2>
    <form method="post">
        <div>
            <label asp-for="LoginModel.Email">Email</label>
            <input asp-for="LoginModel.Email" type="email" placeholder="Email" required />
            <span asp-validation-for="LoginModel.Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="LoginModel.Password">Contraseña</label>
            <div class="password-container">
                <input asp-for="LoginModel.Password" type="password" placeholder="Contraseña" required />
                <span asp-validation-for="LoginModel.Password" class="text-danger"></span>
            </div>
        </div>
        <div asp-validation-summary="All" class="text-danger"></div>
        <button type="submit" class="login-btn">Iniciar sesión</button>
        <div class="register-link">
            <a asp-page="/Auth/Register">Registrarse</a>
        </div>
    </form>
</div>
</body>
</html>